google-genai
filetype
fastapi
uvicorn
python-dotenv
pydantic
python-multipart
pydantic-settings
sqlalchemy
psycopg2-binary
python-jose[cryptography]
# passlib[bcrypt]
passlib==1.7.4 
bcrypt==3.2.0
pydantic[email]